/* General Layout */
#app {
    display: flex;
}

/* Menu */
.menu {
    width: 180px;
    background-color: #333;
    height: 100vh;
    padding: 15px 0;
    position: fixed;
}

/* Main Content */
.main-content {
    margin-left: 300px; /* Alinea el contenido con el menú */
    padding: 10px;
    width: calc(100% - 180px); /* Ajusta el ancho */
}

/* Encabezado y Banner */
.header {
    text-align: center;
    padding: 10px;
}

.banner-image {
    width: 100%;
    height: auto;
    max-height: 130px; /* Más pequeño */
    object-fit: cover;
    border-radius: 10px;
}

/* Botones de estado */
.status-buttons {
    display: flex;
    gap: 8px; /* Reduce la separación entre los botones */
    padding: 10px;
    align-items: center; /* Alinea verticalmente */
    margin-left: 0; /* Alinea los botones al inicio */
}

.live-button, .finished-button {
    padding: 7px 15px; /* Más pequeños */
    font-size: 13px; /* Texto más pequeño */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff4b4b;
    color: white;
}

.finished-button {
    background-color: #bfbfbf;
}

.date-box {
    background-color: #20bf55;
    color: white;
    padding: 7px;
    border-radius: 5px;
    font-size: 13px;
    margin-left: auto; /* Mueve la fecha hacia la derecha */
}

/* Sección de partidos */
.match-section {
    padding: 10px;
}

.match-category {
    background-color: #f0f0f0;
    margin-bottom: 15px;
    border-radius: 8px;
    padding: 8px;
}

.match-category h2 {
    background-color: #bfbfbf;
    padding: 8px;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
}

/* Partidos */
.match {
    display: flex;
    align-items: center;
    padding: 5px; /* Reduce el padding */
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    justify-content: space-between; /* Alinea los elementos a los extremos */
}

.match:last-child {
    border-bottom: none;
}

.time {
    font-size: 1em;
    color: red;
    margin-right: 5px;
}

.teams {
    display: flex;
    flex-direction: column; /* Alinea los nombres de los equipos en una columna */
    font-size: 1em;
    margin-left: 10px; /* Espacio entre el tiempo y los nombres de los equipos */
}

.team-logo {
    margin-right: 10px; /* Espacio entre el logo/bandera y el nombre del equipo */
}

.team-name {
    text-align: left; /* Alinea el nombre a la izquierda */
}

.score {
    font-size: 1em;
    color: red;
    margin-left: auto; /* Mueve el marcador hacia la derecha */
}

/* Estilo para las banderas */
.flag-icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
}










