* {
  padding: 0px;
  margin: 0px;
}

#app {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Bordes circulares en el menú */
.menu {
  width: 20%;
  background-color: #242424;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-radius: 6px; /* Bordes circulares */
}

/* Estilos del menú de opciones desplegable (mini menú) */
.submenu {
  display: none;
  background-color: #3a3a3a;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

.submenu a {
  display: block;
  padding: 5px 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9em;
}

.submenu a:hover {
  color: #646cff;
}

/* Mostrar el submenu cuando se pasa el mouse sobre el link "Fútbol" */
.futbol:hover .submenu {
  display: block;
}

.menu-item {
  padding: 15px;
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 8px 0px;
}

.menu-item:hover {
  background-color: #646cff;
}

.menu-item.active {
  background-color: #535bf2;
}

.content {
  width: 100%; /* Espacio para el menú */
  background-color: #FFFFFF;
  height: 100vh;
  color: #ffffff;
}




